<h1>Login Page</h1>

<form action="/signin" method="POST">
<div>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required><br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    
<div><input type="submit" value="login"></div>

<div style="background-color:#f1f1f1">
    <span class="psw"><a href="/signup">Sign Up</a></span>
  </div>
  
</form>